/* COLORS */

$primary: #5D2020;
$primary-dark:#5B1F1F;
$primary-light:#7A2A2A;

$secondary-1:#740707;
$secondary-2:#9C0A0A;
$secondary-3:#635A5A;
$secondary-4:#FFFFFF;


$secondary-1-dark:#600606;
$secondary-2-dark:#990A0A;
$secondary-3-dark:#605757;

$secondary-light:#860909;
$tertiary-light:#230202;

$white:#fff;
$black:#000;
$bittersweetshimmer:#BC4A4A;


$grey-dark:#EBEBEB;
$grey-dark-2:#D6D6D6;
$grey-dark-3:#CCCCCC;
$grey-light-1:#EBEBEB;
$grey-light-2:#F5F5F5;

/* FONTS */
$default-font-size: 1.6rem;

// GRID VARIABLES

$horizontal-gutter: 6rem;
$vertical-gutter: 3rem;