.row {
    max-width: 114rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: $vertical-gutter;
    @include clearfix;

    [class*="col_"] {
        float: left;
        &:not(:last-child) {
            margin-right: $horizontal-gutter;
        }
    }

    .col_1_of_2 {
        width: calc((100% - #{$horizontal-gutter})/2);
    }

    .col_1_of_3 {
        width: calc((100% - 2 * #{$horizontal-gutter})/3);
    }

    .col_2_of_3 {
        width: calc(2*((100% - 2 * #{$horizontal-gutter})/3) + #{$horizontal-gutter});
    }

    .col_1_of_4 {
        width: calc((100% - 3 * #{$horizontal-gutter})/4);
    }

    .col_2_of_4 {
        width: calc(2 *((100% - 3 * #{$horizontal-gutter})/4) + #{$horizontal-gutter});
    }
}
