.header {
    height: 95vh; 
    position: relative;
    padding: 0;
    @include respond(tab-l){
        height: 80rem; 
    }
    &__slider--1 {
        @include slider-style;
        background-image: linear-gradient(to right bottom, rgba($primary-light, 0.5), rgba($primary-dark, 0.5)), url(img/header-image-1.jpg);
        animation: fade1 15s infinite;
    }

    &__slider--2 {
        @include slider-style;
        background-image: linear-gradient(to right bottom, rgba($primary-light, 0.5), rgba($primary-dark, 0.5)), url(img/header-image-2.jpg);
        animation: fade2 15s infinite;
    }   

    &__slider--3 {
        @include slider-style;
        background-image: linear-gradient(to right bottom, rgba($primary-light, 0.5), rgba($primary-dark, 0.5)), url(img/header-image-3.jpg);
        animation: fade3 15s infinite;
    }

    &__slider--4 {
        @include slider-style;
        background-image: linear-gradient(to right bottom, rgba($primary-light, 0.5), rgba($primary-dark, 0.5)), url(img/header-image-4.jpg);
        animation: fade4 15s infinite;
    }

    
    &__slider--5 {
        @include slider-style;
        background-image: linear-gradient(to right bottom, rgba($primary-light, 0.5), rgba($primary-dark, 0.5)), url(img/header-image-5.jpg);
        animation: fade5 15s infinite;
    }

    &__logo-box {
        position: absolute;
        top: 25%;
        @include center-object;
    }

    &__logo {
        height: 10rem;
        border-radius: 4rem;
        @include respond(phone){
            height: 6rem;
        }
    }

    &__text-box {
        position: absolute;
        top: 60%;
        @include center-object;
    }

    &__btn-box {
        position: absolute;
        top: 90%;
        @include center-object;
    }
}
