/*
    MEDIA QUERIES BREAKPOINTS

    Mobile - portrait: 0-576px
    Tablet - portrait: 577 - 768 
    Tablet - landscape: 769 - 991
    High-res laptop or desktop: +1200
*/
/* COLORS */
/* FONTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 90em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 26.7em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 1.5rem;
  color: #EBEBEB; }
  @media only screen and (max-width: 64em) {
    body {
      padding: 0; } }

@-webkit-keyframes fade1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fade3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade3 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fade4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade4 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fade5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade5 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.heading-primary {
  color: white;
  margin-bottom: 2.5rem;
  font-weight: 400; }
  .heading-primary--main {
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 4rem;
    display: block; }
    @media only screen and (max-width: 64em) {
      .heading-primary--main {
        font-size: 6rem;
        letter-spacing: 2.5rem;
        font-weight: 400; } }
    @media only screen and (max-width: 48em) {
      .heading-primary--main {
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: 1rem; } }
    @media only screen and (max-width: 26.7em) {
      .heading-primary--main {
        font-size: 4rem;
        letter-spacing: .5rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 20em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: .25rem;
        margin-bottom: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-family: "satisfy", serif;
    font-size: 2.6rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-linear-gradient(left, #7A2A2A, #860909);
  background-image: linear-gradient(to right, #7A2A2A, #860909);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .heading-secondary:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
            transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #605757; }

.paragraph {
  font-size: 1.6rem;
  color: #605757; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-align-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-padding-top-large {
  padding-top: 6rem; }

.u-padding-top-medium {
  padding-top: 3rem; }

#menuToggle {
  display: block;
  position: fixed;
  top: 5rem;
  left: 5rem;
  z-index: 8;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: #BC4A4A; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #635A5A;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  height: 130vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  position: relative;
  border: 2px solid #BC4A4A;
  display: inline-block;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s; }

.btn:hover, .btn:visited {
  outline: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  text-decoration: none; }

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn--bittersweetshimmer {
  background-color: #BC4A4A;
  color: #EBEBEB;
  margin-right: 1rem; }

@media only screen and (max-width: 64em) {
  .btn {
    margin: 1rem; } }

.btn-rectangular:link, .btn-rectangular:visited {
  color: #BC4A4A;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #BC4A4A;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  -webkit-transition: all .2s;
  transition: all .2s; }

.btn-rectangular--white:hover, .btn-rectangular:hover {
  background-color: #BC4A4A;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); }

.btn-rectangular--white:active, .btn-rectangular:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5); }

.btn-rectangular--white {
  color: white; }

.btn-rectangular--white:link, .btn-rectangular--white:visited {
  color: white;
  border-bottom: 1px solid white; }

.btn-rectangular--white:hover {
  border-bottom: transparent; }

.composition {
  position: relative;
  margin-left: 5rem;
  margin-top: 5rem; }
  @media only screen and (max-width: 48em) {
    .composition {
      margin-left: auto;
      margin-top: 8rem; } }
  .composition__img {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    outline-offset: 2rem;
    -webkit-transition: all .2s;
    transition: all .2s; }
    @media only screen and (max-width: 48em) {
      .composition__img {
        width: 30%;
        height: 15rem;
        position: relative; } }
    @media only screen and (max-width: 20em) {
      .composition__img {
        width: 70%;
        height: auto;
        position: relative; } }
    .composition__img-1 {
      top: -2rem;
      left: -2rem; }
      @media only screen and (max-width: 48em) {
        .composition__img-1 {
          top: 0;
          left: 0; } }
    .composition__img-2 {
      left: 6rem;
      top: 6rem; }
      @media only screen and (max-width: 48em) {
        .composition__img-2 {
          top: 0;
          left: 0; } }
    .composition__img-3 {
      left: 15rem;
      top: 15rem; }
      @media only screen and (max-width: 48em) {
        .composition__img-3 {
          top: 0;
          left: 0; } }
    .composition__img:hover {
      -webkit-transform: scale(1.05) translateY(-0.5rem);
              transform: scale(1.05) translateY(-0.5rem);
      z-index: 4;
      box-shadow: 0 1.75rem 5rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #5B1F1F; }
    .composition__img:hover .composition__img:__img:not(:hover) {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }

.benefit-box {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 28rem;
  height: 40rem;
  color: white;
  position: relative; }
  @media only screen and (max-width: 64em) {
    .benefit-box {
      width: 120%; } }
  @media only screen and (max-width: 48em) {
    .benefit-box {
      width: 50rem;
      margin: 1.5rem; } }
  @media only screen and (max-width: 20em) {
    .benefit-box {
      width: 45rem;
      margin: 1rem; } }
  .benefit-box--1 {
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-1.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-1.jpg);
    background-size: cover;
    background-position: 78% 50%; }
    @media only screen and (max-width: 48em) {
      .benefit-box--1 {
        width: 100%;
        opacity: 1; } }
  .benefit-box--2 {
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-2.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-2.jpg);
    background-size: cover;
    background-position: 78% 50%; }
    @media only screen and (max-width: 48em) {
      .benefit-box--2 {
        width: 100%;
        opacity: 1; } }
  .benefit-box--3 {
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-3.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-3.jpg);
    background-size: cover;
    background-position: 78% 50%; }
    @media only screen and (max-width: 48em) {
      .benefit-box--3 {
        width: 100%;
        opacity: 1; } }
  .benefit-box--4 {
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-4.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/benefit-img-4.jpg);
    background-size: cover;
    background-position: 78% 50%; }
    @media only screen and (max-width: 48em) {
      .benefit-box--4 {
        width: 100%;
        opacity: 1; } }
  .benefit-box__title {
    font-size: 4rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    opacity: .7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
    @media only screen and (max-width: 64em) {
      .benefit-box__title {
        font-size: 2rem; } }
    @media only screen and (max-width: 48em) {
      .benefit-box__title {
        opacity: 0; } }
  .benefit-box__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 28rem;
    height: 40rem;
    -webkit-transition: background-image .2s;
    transition: background-image .2s; }
    @media only screen and (max-width: 64em) {
      .benefit-box__overlay {
        width: 100%; } }
    @media only screen and (max-width: 48em) {
      .benefit-box__overlay {
        width: 100%;
        opacity: 1;
        background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.7), rgba(91, 31, 31, 0.7));
        background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.7), rgba(91, 31, 31, 0.7)); } }
  .benefit-box:hover .benefit-box__overlay {
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.7), rgba(91, 31, 31, 0.7));
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.7), rgba(91, 31, 31, 0.7)); }
  .benefit-box:hover .benefit-box__title {
    opacity: 0; }
  .benefit-box__content {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: 85%;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s; }
    @media only screen and (max-width: 48em) {
      .benefit-box__content {
        opacity: 1;
        top: 50%; } }
  .benefit-box:hover .benefit-box__content {
    top: 50%;
    opacity: 1; }
  .benefit-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: -webkit-linear-gradient(left top, white, #605757);
    background-image: linear-gradient(to right bottom, white, #605757);
    -webkit-background-clip: text;
    color: transparent; }
  .benefit-box__heading {
    color: white; }
  .benefit-box__text {
    font-size: 1.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .bg-video__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .5;
    z-index: 2; }

.testimonial {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 2rem;
  overflow: hidden; }
  @media only screen and (max-width: 48em) {
    .testimonial {
      width: 90%; } }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-clip-path: circle(90% at 3% 8%);
    -webkit-shape-outside: circle(100% at 3% 8%);
    position: relative; }
  .testimonial__image {
    height: 100%;
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    -webkit-transition: all .5s;
    transition: all .5s; }
    @media only screen and (max-width: 48em) {
      .testimonial__image {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        -webkit-filter: blur(3px) brightness(80%);
                filter: blur(3px) brightness(80%); } }
  .testimonial:hover .testimonial__image {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-filter: blur(3px) brightness(80%);
            filter: blur(3px) brightness(80%); }
  .testimonial__para {
    font-size: 1.5rem;
    color: #605757; }
  .testimonial__text {
    padding: 3rem; }
  .testimonial__caption {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s; }
    @media only screen and (max-width: 48em) {
      .testimonial__caption {
        opacity: 1;
        -webkit-transform: translate(-60%, -80%);
                transform: translate(-60%, -80%); } }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    -webkit-transform: translate(-60%, -80%);
            transform: translate(-60%, -80%); }
  .testimonial--1 {
    float: left;
    margin-left: 5rem;
    margin-top: 5rem; }
    @media only screen and (max-width: 48em) {
      .testimonial--1 {
        margin-top: 8rem;
        margin-left: 0;
        float: none; } }
    @media only screen and (max-width: 26.7em) {
      .testimonial--1 {
        margin-top: 1rem; } }
  .testimonial--2 {
    float: right;
    margin-top: 20rem;
    margin-right: 5rem; }
    @media only screen and (max-width: 48em) {
      .testimonial--2 {
        margin-right: 0;
        float: none;
        margin-top: 8rem; } }
    @media only screen and (max-width: 26.7em) {
      .testimonial--2 {
        margin-top: 1rem; } }
  .testimonial:after {
    content: "";
    display: table;
    clear: both; }

/* The flip card container */
.flip-card {
  background-color: transparent;
  height: 50rem;
  color: white;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */ }
  @media only screen and (max-width: 48em) {
    .flip-card {
      height: 70rem;
      background-color: white;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 20em) {
    .flip-card {
      margin-bottom: 3rem; } }
  .flip-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    border-radius: 30px 0 30px 0;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 48em) {
      .flip-card__inner {
        height: 60rem;
        position: relative;
        box-shadow: none; } }
  .flip-card:hover .flip-card__inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
    @media only screen and (max-width: 48em) {
      .flip-card:hover .flip-card__inner {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg); } }
  .flip-card__front, .flip-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden; }
  .flip-card__front {
    background-color: white;
    border-radius: 30px 0 30px 0;
    overflow: hidden; }
    @media only screen and (max-width: 48em) {
      .flip-card__front {
        border-radius: 0;
        position: relative;
        height: auto; } }
  .flip-card__back {
    background-color: #7A2A2A;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    border-radius: 0 30px 0 30px; }
    @media only screen and (max-width: 48em) {
      .flip-card__back {
        height: auto;
        position: relative;
        border-radius: 0;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); } }
    .flip-card__back--1 {
      background-color: linear-gradient(to right bottom, #740707, #600606); }
    .flip-card__back--2 {
      background-image: -webkit-linear-gradient(left top, #9C0A0A, #990A0A);
      background-image: linear-gradient(to right bottom, #9C0A0A, #990A0A); }
    .flip-card__back--3 {
      background-image: -webkit-linear-gradient(left top, #635A5A, #605757);
      background-image: linear-gradient(to right bottom, #635A5A, #605757); }
  .flip-card__image {
    height: 18rem;
    background-size: cover;
    background-blend-mode: overlay;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .flip-card__image--1 {
      background-image: -webkit-linear-gradient(left top, #740707, #600606), url(img/pack-img-1.jpg);
      background-image: linear-gradient(to right bottom, #740707, #600606), url(img/pack-img-1.jpg); }
    .flip-card__image--2 {
      background-image: -webkit-linear-gradient(left top, #9C0A0A, #990A0A), url(img/pack-img-2.jpg);
      background-image: linear-gradient(to right bottom, #9C0A0A, #990A0A), url(img/pack-img-2.jpg); }
    .flip-card__image--3 {
      background-image: -webkit-linear-gradient(left top, #635A5A, #605757), url(img/pack-img-3.jpg);
      background-image: linear-gradient(to right bottom, #635A5A, #605757), url(img/pack-img-3.jpg); }
  .flip-card__heading {
    color: white;
    font-weight: 400;
    font-size: 2.8rem;
    text-transform: uppercase;
    position: absolute;
    top: 9rem;
    right: 20px;
    width: 20rem;
    text-align: right;
    padding: 1rem 1.5rem; }
    .flip-card__heading--1 {
      background-image: -webkit-linear-gradient(left top, rgba(116, 7, 7, 0.7), rgba(96, 6, 6, 0.7));
      background-image: linear-gradient(to right bottom, rgba(116, 7, 7, 0.7), rgba(96, 6, 6, 0.7)); }
    .flip-card__heading--2 {
      background-image: -webkit-linear-gradient(left top, rgba(156, 10, 10, 0.7), rgba(153, 10, 10, 0.7));
      background-image: linear-gradient(to right bottom, rgba(156, 10, 10, 0.7), rgba(153, 10, 10, 0.7)); }
    .flip-card__heading--3 {
      background-image: -webkit-linear-gradient(left top, rgba(99, 90, 90, 0.7), rgba(96, 87, 87, 0.7));
      background-image: linear-gradient(to right bottom, rgba(99, 90, 90, 0.7), rgba(96, 87, 87, 0.7)); }
  .flip-card__bullets {
    padding: 3rem; }
    .flip-card__bullets ul {
      color: #605757;
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .flip-card__bullets ul li {
        text-align: center;
        font-size: 1.3rem;
        padding: 2rem; }
        .flip-card__bullets ul li:not(:last-child) {
          border-bottom: 1px solid #EBEBEB; }
  .flip-card__button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    text-align: center; }
    @media only screen and (max-width: 48em) {
      .flip-card__button {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        width: 100%;
        padding: 4rem; } }
  .flip-card__cost-box {
    color: white;
    margin-bottom: 16rem; }
    @media only screen and (max-width: 48em) {
      .flip-card__cost-box {
        margin-bottom: 3rem; } }
  .flip-card__cost-value {
    font-size: 4.5rem;
    font-weight: 100; }

.contact {
  height: 55rem;
  background-image: -webkit-radial-gradient(circle closest-corner at 65% 50%, transparent 0%, transparent 50%, rgba(153, 10, 10, 0.4) 50%), url(img/contact-form-image.jpg);
  background-image: radial-gradient(circle closest-corner at 65% 50%, transparent 0%, transparent 50%, rgba(153, 10, 10, 0.4) 50%), url(img/contact-form-image.jpg);
  background-size: 100%;
  background-position: left 50%;
  border-radius: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 48em) {
    .contact {
      background-image: -webkit-radial-gradient(circle closest-corner at 65% 50%, rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4) 50%), url(img/contact-form-image-small.jpg);
      background-image: radial-gradient(circle closest-corner at 65% 50%, rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4) 50%), url(img/contact-form-image-small.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 48em) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em), only screen and (max-width: 48em) and (min-resolution: 192dpi) and (min-width: 36em), only screen and (max-width: 48em) and (min-width: 125em) {
    .contact {
      background-image: -webkit-radial-gradient(circle closest-corner at 65% 50%, rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4) 50%), url(img/contact-form-image.jpg);
      background-image: radial-gradient(circle closest-corner at 65% 50%, rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4), rgba(153, 10, 10, 0.4) 50%), url(img/contact-form-image.jpg); } }
  .contact__form {
    padding: 6rem; }
    @media only screen and (max-width: 48em) {
      .contact__form {
        width: 100%;
        text-align: center;
        padding: 3rem; } }
    @media only screen and (max-width: 26.7em) {
      .contact__form {
        padding: 1.5rem; } }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  width: 40%;
  border-radius: 2px;
  color: black;
  font-weight: 400;
  font-family: inherit;
  opacity: 1;
  border-bottom: 3px solid transparent; }
  @media only screen and (max-width: 48em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    box-shadow: 0 1rem 2rem, rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #EBEBEB; }
  .form__input:invalid {
    border-bottom: 3px solid #635A5A; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem); }

.form__label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  color: white;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s; }

.form__group {
  margin-bottom: 3rem; }

.form__radio-group {
  display: inline-block;
  width: 13%; }
  @media only screen and (max-width: 48em) {
    .form__radio-group {
      width: 26%; } }
  @media only screen and (max-width: 26.7em) {
    .form__radio-group {
      width: 30%; } }

.form__radio-input:checked + .form__radio-label .form__radio-button:after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding-left: 5rem;
  position: relative; }
  @media only screen and (max-width: 26.7em) {
    .form__radio-label {
      padding-left: 3rem; } }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-image: url(img/1176-small.jpg);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 26.7em) {
    .form__radio-button {
      height: 2rem;
      width: 2rem; } }
  .form__radio-button:after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #860909;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; }

.form__text-area {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: inherit;
  color: black;
  width: 100%;
  height: 10rem;
  padding: 1.5rem 1rem; }

.footer {
  position: relative;
  background-color: gray;
  height: auto; }
  .footer__group {
    padding-top: .8rem; }
    @media only screen and (max-width: 26.7em) {
      .footer__group {
        margin: 0 1rem; } }
  .footer__img {
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    margin-top: 5rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 48em) {
      .footer__img {
        margin-top: 2rem;
        position: absolute; } }
  .footer__links {
    border-left: 2px solid white;
    list-style: none;
    padding-left: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 48em) {
      .footer__links {
        position: relative;
        float: left;
        margin-top: 10rem; } }
    @media only screen and (max-width: 26.7em) {
      .footer__links {
        border-left: 0; } }
    .footer__links a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem; }
      .footer__links a:hover {
        color: #990A0A; }
  .footer__icons {
    border-left: 2px solid white;
    list-style: none;
    padding-left: 2rem;
    position: absolute; }
    @media only screen and (max-width: 48em) {
      .footer__icons {
        position: relative;
        float: right;
        margin-top: -10rem;
        padding-bottom: 3rem; } }
    @media only screen and (max-width: 26.7em) {
      .footer__icons {
        border-left: 0; } }
    @media only screen and (max-width: 48em) {
      .footer__icons li {
        display: inline-block;
        padding: 4rem 0 0 3rem; } }
    .footer__icons a {
      text-decoration: none;
      color: white;
      font-size: 2rem; }
      .footer__icons a:hover {
        color: #990A0A; }
  .footer__text {
    margin-top: 10rem;
    font-size: 2.2rem;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 48em) {
      .footer__text {
        margin-top: 20rem; } }
    @media only screen and (max-width: 26.7em) {
      .footer__text {
        margin: 20rem 1rem 0 1rem; } }

.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998; }

.fa-twitter:hover,
.fa-twitter:active {
  color: #55acee; }

.fa-whatsapp:hover,
.fa-whatsapp:active {
  color: #075e54; }

.fa-instagram:hover,
.fa-instagram:active {
  color: #517fa4; }

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-whatsapp {
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.about-section {
  background-color: #EBEBEB;
  padding: 7rem 0;
  height: 70rem; }
  @media only screen and (max-width: 48em) {
    .about-section {
      height: 80rem; } }
  @media only screen and (max-width: 20em) {
    .about-section {
      height: 130rem; } }

.benefits-section {
  background: white;
  padding: 7rem 0;
  height: 80rem; }
  @media only screen and (max-width: 48em) {
    .benefits-section {
      height: 200rem; } }

.testimonials-section {
  position: relative;
  height: 81rem; }
  @media only screen and (max-width: 20em) {
    .testimonials-section {
      height: 90rem; } }

.services-section {
  padding: 15rem 0;
  background-color: #EBEBEB;
  height: 80rem; }
  @media only screen and (max-width: 48em) {
    .services-section {
      padding: 5rem 0;
      height: 230rem; } }

.contact-section {
  padding-top: 10rem;
  background-color: white;
  height: 80rem; }

.footer-section {
  background-color: #605757;
  height: 30rem;
  z-index: 4; }
  @media only screen and (max-width: 48em) {
    .footer-section {
      height: 35rem; } }
  @media only screen and (max-width: 26.7em) {
    .footer-section {
      height: 40rem; } }

.header {
  height: 95vh;
  position: relative;
  padding: 0; }
  @media only screen and (max-width: 58em) {
    .header {
      height: 80rem; } }
  .header__slider--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-1-small.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-1-small.jpg);
    -webkit-animation: fade1 15s infinite;
            animation: fade1 15s infinite; }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em), (min-resolution: 192dpi) and (min-width: 36em), (min-width: 125em) {
      .header__slider--1 {
        background-image: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-1.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-1.jpg); } }
  .header__slider--2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-2-small.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-2-small.jpg);
    -webkit-animation: fade2 15s infinite;
            animation: fade2 15s infinite; }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em), (min-resolution: 192dpi) and (min-width: 36em), (min-width: 125em) {
      .header__slider--2 {
        background-image: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-2.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-2.jpg); } }
  .header__slider--3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-3-small.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-3-small.jpg);
    -webkit-animation: fade3 15s infinite;
            animation: fade3 15s infinite; }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em), (min-resolution: 192dpi) and (min-width: 36em), (min-width: 125em) {
      .header__slider--3 {
        background-image: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-3.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-3.jpg); } }
  .header__slider--4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-4-small.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-4-small.jpg);
    -webkit-animation: fade4 15s infinite;
            animation: fade4 15s infinite; }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em), (min-resolution: 192dpi) and (min-width: 36em), (min-width: 125em) {
      .header__slider--4 {
        background-image: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-4.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-4.jpg); } }
  .header__slider--5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-image: -webkit-linear-gradient(left top, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-5.jpg);
    background-image: linear-gradient(to right bottom, rgba(122, 42, 42, 0.5), rgba(91, 31, 31, 0.5)), url(img/header-image-5.jpg);
    -webkit-animation: fade5 15s infinite;
            animation: fade5 15s infinite; }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em), (min-resolution: 192dpi) and (min-width: 36em), (min-width: 125em) {
      .header__slider--5 {
        background-image: -webkit-linear-gradient(left top, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-5.jpg);
        background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(img/header-image-5.jpg); } }
  .header__logo-box {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 10rem;
    border-radius: 4rem; }
    @media only screen and (max-width: 26.7em) {
      .header__logo {
        height: 6rem; } }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .header__btn-box {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  height: 5rem;
  margin: 0 auto;
  margin-top: 8rem; }
  @media only screen and (max-width: 48em) {
    .row {
      margin-top: 4rem; } }
  @media only screen and (max-width: 48em) {
    .row {
      max-width: 60rem;
      text-align: center; } }
  .row [class*="col_"] {
    float: left; }
    .row [class*="col_"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 48em) {
        .row [class*="col_"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 48em) {
      .row [class*="col_"] {
        width: 100%; } }
  .row .col_1_of_2 {
    width: calc((100% - 6rem)/2); }
    @media only screen and (max-width: 48em) {
      .row .col_1_of_2 {
        width: 100%; } }
  .row .col_1_of_3 {
    width: calc((100% - 2 * 6rem)/3); }
    @media only screen and (max-width: 48em) {
      .row .col_1_of_3 {
        width: 100%; } }
  .row .col_2_of_3 {
    width: calc(2*((100% - 2 * 6rem)/3) + 6rem); }
  .row .col_1_of_4 {
    width: calc((95% - 3 * 6rem)/4); }
    @media only screen and (max-width: 48em) {
      .row .col_1_of_4 {
        width: 95%; } }
  .row .col_2_of_4 {
    width: calc(2 *((100% - 3 * 6rem)/4) + 6rem); }
